.container{
    max-width: 77%;
    margin: 0 auto;
    padding: $spacer * 2;
  }
  
    h2{
      color:$dark;
      font-size: $font-size-lg;
      margin-right: $spacer * 4 ;
    }
    .menu-title-add{
      span{
        color:$success;
        font-size: $font-size-lg;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    .menu-item{
      span{
        font-size: $font-size-lg;
        &:hover{
          color:$success;
        }
      }
    }
  
  .table{
    margin-bottom: 64px;
    th,td{
      padding: 17px 0 19px 0;
    }
    .table-title{
      padding: 4px 0;
    }
    .arrow_downward{
      color:$success;
      font-size: 12px;
    }
    .material-symbols-outlined:hover{
        color:$success;
      }
  
  }
  
  .page{
    text-align: center;
    .page-button a{
      display: block;
      padding: 5.5px 4px;
      &:hover{
        color:white;
      }
    }
    a{
      height: 100%;
      display: block;
      padding: 6px 11.5px 7px;
      &:hover{
        color:white;
        background-color: $green;
      }
    }
  
  
  }



 